streamlit
requests
beautifulsoup4
python-dotenv
PyPDF2
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
faiss-cpu
duckduckgo-search
sentence-transformers
python-dotenv
